.preview {
  border: 1px solid #1890FF;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.preview {
  background: var(--dzl-color-background);
  font-family: var(--dzl-font-family);
  font-size: var(--dzl-font-size);
  color: var(--dzl-color-text);
}