.menu {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  height: 48px;
}

.logo {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.body {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}