body {
  margin: 0;
  padding: 0;
}

.page {
  font-family: var(--dzl-font-family);
  font-size: var(--dzl-font-size-regular);
  line-height: var(--dzl-line-height-regular);
  background: var(--dzl-color-background);
  color: var(--dzl-color-text);

  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
}

.page__body {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.page__menu {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-right: var(--dzl-border-width) dashed var(--dzl-color-border);
}

.page__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page_main {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}