.link {
  font-size: var(--v-font-size);
  line-height: var(--v-line-height);
  color: var(--v-color-link);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--v-color-link-hover);
  }
}

.link.size-default {
  padding: var(--v-padding-default);
}

.link.size-small {
  padding: var(--v-padding-small);
}

.link.size-large {
  padding: var(--v-padding-large);
}
