.dzl-link {
  font-size: var(--v-font-size);
  line-height: var(--v-line-height);
  color: var(--v-color-link);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--v-color-link-hover);
  }
}

.dzl-link {
  &.dzl-size-default {
    font-size: var(--dzl-font-size);
    line-height: var(--dzl-line-height);
  }

  &.dzl-size-small {
    font-size: var(--dzl-font-size-small);
    line-height: var(--dzl-line-height-small);
  }

  &.dzl-size-large {
    font-size: var(--dzl-font-size-large);
    line-height: var(--dzl-line-height-large);
  }
}


.dzl-link {
  &.dzl-style-uppercase {
    text-transform: uppercase;
  }

  &.dzl-style-lowercase {
    text-transform: lowercase;
  }

  &.dzl-style-bold {
    font-weight: bold;
  }

  &.dzl-style-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dzl-link {
  &.dzl-align-default {
    text-align: start;
  }

  &.dzl-align-start {
    text-align: start;
  }

  &.dzl-align-center {
    text-align: center;
  }

  &.dzl-align-end {
    text-align: end;
  }
}
