.h1 {
  font-size: var(--v-font-size-h1);
  line-height: var(--v-line-height-h1);
}

.h2 {
  font-size: var(--v-font-size-h2);
  line-height: var(--v-line-height-h2);
}

.h3 {
  font-size: var(--v-font-size-h3);
  line-height: var(--v-line-height-h3);
}

.h4 {
  font-size: var(--v-font-size-h4);
  line-height: var(--v-line-height-h4);
}

.h4 {
  font-size: var(--v-font-size-h5);
  line-height: var(--v-line-height-h5);
}

.text {
  font-size: var(--v-font-size);
  line-height: var(--v-line-height);
}

.color-default {
  color: var(--v-color-text-default);
}

.color-secondary {
  color: var(--v-color-text-secondary);
}

.color-primary {
  color: var(--v-color-primary);
}

.color-success {
  color: var(--v-color-success);
}

.color-warning {
  color: var(--v-color-warning);
}

.color-error {
  color: var(--v-color-error);
}

.color-level-1 {
  color: var(--v-color-level-1);
}

.color-level-2 {
  color: var(--v-color-level-2);
}

.color-level-3 {
  color: var(--v-color-level-3);
}

.color-level-4 {
  color: var(--v-color-level-4);
}

.color-level-5 {
  color: var(--v-color-level-5);
}

.color-level-6 {
  color: var(--v-color-level-6);
}

.color-level-7 {
  color: var(--v-color-level-7);
}

.color-level-8 {
  color: var(--v-color-level-8);
}