.root {
  margin: 0;
  font-size: var(--dzl-font-size-regular);
  line-height: var(--dzl-line-height-regular);
  color: var(--dzl-color-link);
}

.root:hover {
  color: var(--dzl-color-link-hover);
}

.regular {
  font-size: var(--dzl-font-size-regular);
  line-height: var(--dzl-line-height-regular);
}

.small {
  font-size: var(--dzl-font-size-small);
  line-height: var(--dzl-line-height-small);
}

.large {
  font-size: var(--dzl-font-size-large);
  line-height: var(--dzl-line-height-large);
}
