.code {
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
}

.pre {
  font-family: monospace;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  overflow: scroll;

  & .token-line {
    line-height: 1.2em;
    height: 1.2em;
  }
}

.line {
  display: table-row;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}