.d-btn {
  font-weight: 400;
  display: flex;
  width: max-content;
  font-family: var(--d-font-family);
  font-size: var(--d-font-size);
  line-height: var(--d-line-height);
  border-radius: var(--d-border-radius);
  border-width: var(--d-border-width);
  cursor: pointer;
}

.d-btn:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.d-btn.d-btn-disallow {
  opacity: 0.75;
  cursor: not-allowed;
}
// -------------------------------- //

.d-btn.d-btn-size-default {
  padding: var(--d-padding-vertical-default) var(--d-padding-horizontal-default);
}

.d-btn.d-btn-size-small {
  padding: 2px 8px;
}

.d-btn.d-btn-size-large {
  padding: 8px 15px;
}

// -------------------------------- //

.d-btn.d-btn-default {
  border-style: solid;
  background: var(--d-color-background);

  &.d-btn-color-default {
    color: var(--d-color-text);
    border-color: var(--d-color-border);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
      border-color: var(--d-color-primary);
    }
  }

  &.d-btn-color-primary {
    color: var(--d-color-content);
    background: var(--d-color-primary);
    border-color: var(--d-color-primary);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-primary-hover);
    }
  }

  &.d-btn-color-success {
    color: var(--d-color-content);
    background: var(--d-color-success);
    border-color: var(--d-color-success);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-success-hover);
    }
  }

  &.d-btn-color-warning {
    color: var(--d-color-content);
    background: var(--d-color-warning);
    border-color: var(--d-color-warning);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-warning-hover);
    }
  }

  &.d-btn-color-error {
    color: var(--d-color-content);
    background: var(--d-color-error);
    border-color: var(--d-color-error);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-error-hover);
    }
  }
}

// -- dashed -- //

.d-btn.d-btn-dashed {
  border-style: dashed;
  background: var(--d-color-background);

  &.d-color-default {
    color: var(--d-color-text);
    border-color: var(--d-color-border);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-primary {
    color: var(--d-color-primary);
    border-color: var(--d-color-primary);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-success {
    color: var(--d-color-success);
    border-color: var(--d-color-success);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-warning {
    color: var(--d-color-warning);
    border-color: var(--d-color-warning);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-error {
    color: var(--d-color-error);
    border-color: var(--d-color-error);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }
}

.d-btn.d-btn-outline {
  border-style: solid;
  background: var(--d-color-background);

  &.d-color-default {
    color: var(--d-color-text);
    border-color: var(--d-color-border);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-primary {
    color: var(--d-color-primary);
    border-color: var(--d-color-primary);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-success {
    color: var(--d-color-success);
    border-color: var(--d-color-success);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-warning {
    color: var(--d-color-warning);
    border-color: var(--d-color-warning);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-error {
    color: var(--d-color-error);
    border-color: var(--d-color-error);

    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }
}

// .button-text

.d-btn.d-btn-text {
  border-style: solid;
  border-color: transparent;
  background: transparent;

  &.d-color-default {
    color: var(--d-color-text);
    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-primary {
    color: var(--d-color-primary);
    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-success {
    color: var(--d-color-success);
    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-warning {
    color: var(--d-color-warning);
    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }

  &.d-color-error {
    color: var(--d-color-error);
    &:hover:not(:disabled,.d-btn-disallow) {
      background: var(--d-color-hover);
    }
  }
}
// -------------------------------- //
